# Foundations: NumPy
## NumPy Array

In [ ]:
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

In [ ]:
[[i + 1 for i in row] for row in matrix]

In [ ]:
import numpy as np

In [ ]:
# Constructing an array with a simple list results in a 1d array
array1 = np.array([10, 100, 1000.])

In [ ]:
# Constructing an array with a nested list results in a 2d array
array2 = np.array([[1., 2., 3.],
                   [4., 5., 6.]])

In [ ]:
array1.dtype

## Vectorization and Broadcasting

In [ ]:
array2 + 1

In [ ]:
array2 * array2

In [ ]:
array2 * array1

In [ ]:
array2 @ array2.T

## Universal Functions (ufunc)

In [ ]:
import math
math.sqrt(array2)  # this will raise en Error

In [ ]:
np.array([[math.sqrt(i) for i in row] for row in array2])

In [ ]:
np.sqrt(array2)

In [ ]:
array2.sum(axis=0)  # returns a 1d array

## Getting and Setting Array Elements

In [ ]:
array1[2]  # returns a scalar

In [ ]:
array2[0, 0]  # returns a scalar

In [ ]:
array2[:, 1:]  # returns a 2d array

In [ ]:
array2[:, 1]  # returns a 1d array

In [ ]:
array2[1, :2] # returns a 1d array

## Useful Array Constructors

In [ ]:
np.arange(10).reshape(2, 5)  # 2 rows, 5 columns

In [ ]:
np.random.randn(2, 3)  # 2 rows, 3 columns

## View vs. Copy

In [ ]:
array2

In [ ]:
subset = array2[:, :2]
subset

In [ ]:
subset[0, 0] = 1000

In [ ]:
subset

In [ ]:
array2

# DataFrame and Series
## Introduction

In [ ]:
import pandas as pd
data=[['Mark', 55, 'Italy', 4.5, 'Europe'],
      ['John', 33, 'USA', 6.7, 'America'],
      ['Tim', 41, 'USA', 3.9, 'America'],
      ['Jenny', 12, 'Germany', 9.0, 'Europe']]
df = pd.DataFrame(data=data,
                  columns=['name', 'age', 'country',
                           'score', 'continent'],
                  index=[1001, 1000, 1002, 1003])
df

In [ ]:
df.info()

## Index

In [ ]:
df.index

In [ ]:
df.index.name = 'user_id'
df

In [ ]:
# Turns the index into a column, 
# replacing the index with the default index
df.reset_index()

In [ ]:
# Turns 'user_id' into a regular column and
# makes the column 'name' the index
df.reset_index().set_index('name')

In [ ]:
df.reindex([999, 1000, 1001, 1004])

In [ ]:
df.sort_index()

In [ ]:
df.sort_values(['name', 'age'])

## Columns

In [ ]:
df.columns

In [ ]:
df.columns.name = 'properties'
df

In [ ]:
df.rename(columns={'name': 'First Name', 'age': 'Age'})

In [ ]:
df.drop(columns=['name', 'country'],
        index=[1000, 1003])

In [ ]:
df.T  # shortcut for df.transpose()

In [ ]:
df.loc[:, ['continent', 'country', 'name', 'age', 'score']]

# Data Manipulation
## Selecting Data

In [ ]:
df.loc[1000, 'name']  # Returns a Scalar

In [ ]:
df.loc[[1000, 1002], 'name']  # Returns a Series

In [ ]:
df.loc[:1002, ['name', 'country']]  # Returns a DataFrame

In [ ]:
df.iloc[0, 0]  # Returns a Scalar

In [ ]:
df.iloc[[0, 2], 1]  # Returns a Series

In [ ]:
df.iloc[:3, [0, 2]]  # Returns a DataFrame

In [ ]:
tf = (df['age'] > 40) & (df['country'] == 'USA')
tf  # true/false

In [ ]:
df.loc[tf, :]

In [ ]:
df.loc[df.index > 1001, :]

In [ ]:
df.loc[df['country'].isin(['Italy', 'Germany']), :]

In [ ]:
numbers = pd.DataFrame({'A': [1.3, 3.2],
                        'B': [-4.2, -2.1],
                        'C': [-5.5, 3.1]})
numbers

In [ ]:
numbers < 2

In [ ]:
numbers[numbers < 2]

In [ ]:
# MultiIndex need to be sorted
df_multi = df.reset_index().set_index(['continent', 'country'])
df_multi = df_multi.sort_index()
df_multi

In [ ]:
df_multi.loc['Europe', :]

In [ ]:
df_multi.loc[('Europe', 'Italy'), :]

In [ ]:
df_multi.reset_index(level=0)

## Setting Data

In [ ]:
df2 = df.copy()

In [ ]:
df2.loc[1000, 'name'] = 'JOHN'
df2

In [ ]:
df2.loc[[1000, 1001], 'score'] = [3, 4]
df2

In [ ]:
tf = (df2['age'] < 20) | (df2['country'] == 'USA')
df2.loc[tf, 'name'] = 'xxx'
df2

In [ ]:
numbers2 = numbers.copy()
numbers2

In [ ]:
numbers2[numbers2 < 2] = 0
numbers2

In [ ]:
df.replace('USA', 'U.S.')

In [ ]:
df2.loc[:, 'zeroes'] = 0
df2.loc[:, 'integers'] = [1, 2, 3, 4]
df2

In [ ]:
df2 = df.copy()
df2.loc[:, 'double score'] = df2['score'] * 2
df2

## Missing Data

In [ ]:
df2 = df.copy()
df2.loc[1000, 'score'] = None
df2.loc[1003, :] = None
df2

In [ ]:
df2.dropna()

In [ ]:
df2.dropna(how='all')

In [ ]:
df2.isna()

In [ ]:
df2.fillna({'score': df2['score'].mean()})

## Duplicated Data

In [ ]:
df.drop_duplicates(['country', 'continent'])

In [ ]:
df['country'].is_unique

In [ ]:
df['country'].unique()

## Arithmetic Operations

In [ ]:
numbers

In [ ]:
numbers + 1

In [ ]:
numbers2 = pd.DataFrame(data=[[1, 2], [3, 4]],
                        index=[0, 2],
                        columns=['A', 'D'])
numbers2

In [ ]:
numbers + numbers2

In [ ]:
numbers.add(numbers2, fill_value=0)

In [ ]:
numbers.loc[1, :]

In [ ]:
numbers + numbers.loc[1, :]

In [ ]:
numbers.add(numbers.loc[:, 'C'], axis=0)

In [ ]:
text_df = pd.DataFrame(data=[' mArk ', 'JOHN  ', 'Tim', ' jenny'],
                       columns=['name'])
text_df

In [ ]:
cleaned = text_df.loc[:, 'name'].str.strip().str.capitalize()
cleaned

In [ ]:
cleaned.str.startswith('J')

## Applying a Function

In [ ]:
numbers

In [ ]:
def deduct_index(s):
    return s - s.index

numbers.apply(deduct_index, axis=0)

In [ ]:
numbers.apply(lambda s: s - s.index, axis=0)

In [ ]:
numbers.applymap(lambda x: f'{x:,.3f}')

# Combining DataFrames
## Concatenating

In [ ]:
data=[[15, 'France', 4.1, 'Becky'],
      [44, 'Canada', 6.1, 'Leanne']]
more_rows = pd.DataFrame(data=data,
                         columns=['age', 'country', 'score', 'name'],
                         index=[1000, 1011])
more_rows

In [ ]:
pd.concat([df, more_rows], axis=0)

In [ ]:
data=[[3, 4],
      [5, 6]]
more_cols = pd.DataFrame(data=data,
                         columns=['quizzes', 'logins'],
                         index=[1000, 2000])
more_cols

In [ ]:
pd.concat([df, more_cols], axis=1)

## Joining and Merging

In [ ]:
df1 = pd.DataFrame(data=[[1, 2], [3, 4], [5, 6]],
                   columns=['A', 'B'])
df1

In [ ]:
df2 = pd.DataFrame(data=[[10, 20], [30, 40]],
                   columns=['C', 'D'], index=[1, 3])
df2

In [ ]:
df1.join(df2, how='inner')

In [ ]:
df1.join(df2, how='left')

In [ ]:
df1.join(df2, how='right')

In [ ]:
df1.join(df2, how='outer')

In [ ]:
df1['category'] = ['a', 'b', 'c']
df2['category'] = ['c', 'b']

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1.merge(df2, how='inner', on=['category'])

In [ ]:
df1.merge(df2, how='left', on=['category'])

# Data Aggregation and Descriptive Statistics
## Descriptive Statistics

In [ ]:
numbers

In [ ]:
numbers.sum()

In [ ]:
numbers.sum(axis=1)

## Grouping

In [ ]:
df.groupby(['continent']).mean()

In [ ]:
df.groupby(['continent', 'country']).mean()

In [ ]:
df.groupby(['continent']).agg(lambda x: x.max() - x.min())

## Pivoting and Melting

In [ ]:
data = [['Oranges', 'North', 12.30],
        ['Apples', 'South', 10.55],
        ['Oranges', 'South', 22.00],
        ['Bananas', 'South', 5.90],
        ['Bananas', 'North', 31.30],
        ['Oranges', 'North', 13.10]]

sales = pd.DataFrame(data=data,
                     columns=['Fruit', 'Region', 'Revenue'])
sales

In [ ]:
pivot = pd.pivot_table(sales,
                       index='Fruit', columns='Region',
                       values='Revenue', aggfunc='sum',
                       margins=True, margins_name='Total')
pivot

In [ ]:
pd.melt(pivot.iloc[:-1,:-1].reset_index(),
        id_vars='Fruit',
        value_vars=['North', 'South'], value_name='Revenue')

# Plotting
## Matplotlib

In [ ]:
# or: %matplotlib notebook
%matplotlib inline

In [ ]:
data = pd.DataFrame(data=np.random.rand(4, 4) * 100000,
                    index=['Q1', 'Q2', 'Q3', 'Q4'],
                    columns=['East', 'West', 'North', 'South'])
data.index.name = 'Quarters'
data.columns.name = 'Region'
data

In [ ]:
data.plot() # shortcut for data.plot.line()

## Plotly

In [ ]:
# Set the plotting backend to Plotly
pd.options.plotting.backend = 'plotly'

In [ ]:
data.plot()

In [ ]:
data.plot.bar(barmode='group')

# Data Import and Export
## Importing a CSV file

In [ ]:
msft = pd.read_csv('MSFT.csv')

In [ ]:
msft.info()

In [ ]:
# I am selecting a few columns because of space issues
# You can also just run: msft.head()
msft.loc[:, ['Date', 'Adj Close', 'Volume']].head()

In [ ]:
msft.loc[:, ['Date', 'Adj Close', 'Volume']].tail(2)

In [ ]:
msft.loc[:, ['Adj Close', 'Volume']].describe()

In [ ]:
# the line break in the URL is only to make it fit on the page
url = ('https://raw.githubusercontent.com/fzumstein/'
       'python-for-excel/master/ch04/MSFT.csv')
msft = pd.read_csv(url)

In [ ]:
msft.loc[:, ['Date', 'Adj Close', 'Volume']].head(2)

## Exporting to a CSV file

In [ ]:
df.to_csv('course_participants.csv')

# Time Series
## DatetimeIndex

In [ ]:
# This creates a DatetimeIndex based on a start timestamp,
# number of periods and frequency ('D' = daily).
daily_index = pd.date_range('2020-02-28', periods=4, freq='D')
daily_index

In [ ]:
# This creates a DatetimeIndex based on start/end timestamp.
# The frequency is set to "weekly on Mondays" ('W-MON').
weekly_index = pd.date_range('2020-01-01', '2020-01-31', freq='W-MON')
weekly_index

In [ ]:
# Construct a DataFrame based on the weekly_index
pd.DataFrame(data=1, columns=['dummy'], index=weekly_index)

In [ ]:
msft = pd.read_csv('MSFT.csv')

In [ ]:
msft.info()

In [ ]:
msft.loc[:, 'Date'] = pd.to_datetime(msft['Date'])

In [ ]:
msft.dtypes

In [ ]:
msft = pd.read_csv('MSFT.csv', index_col='Date', parse_dates=['Date'])

In [ ]:
msft.info()

In [ ]:
msft.loc[:, 'Volume'] = msft['Volume'].astype('float')
msft['Volume'].dtype

In [ ]:
msft = msft.sort_index()

In [ ]:
msft.index.date

In [ ]:
msft.loc['2019', 'Adj Close']

In [ ]:
msft.loc['2019-06':'2020-05', 'Adj Close'].plot()

## Working with Time Zones

In [ ]:
msft_tz = msft.loc[:, ['Adj Close']].copy()
msft_tz.index = msft_tz.index + pd.DateOffset(hours=16)
msft_tz.head(2)

In [ ]:
msft_tz = msft_tz.tz_localize('America/New_York')
msft_tz.head(2)

In [ ]:
msft_tz = msft_tz.tz_convert('UTC')
msft_tz.loc['2020-01-02', 'Adj Close']  # 21:00 without DST

In [ ]:
msft_tz.loc['2020-05-01', 'Adj Close']  # 20:00 with DST

## Shifting and Percentage Changes

In [ ]:
msft.iloc[:5, 4]

In [ ]:
msft.iloc[:5, 4].shift(1)

In [ ]:
returns = np.log(msft['Adj Close'] / msft['Adj Close'].shift(1))
returns.head()

In [ ]:
returns.plot.hist()

In [ ]:
simple_rets = msft[['Adj Close']].pct_change()
simple_rets = simple_rets.rename(columns={'Adj Close': 'returns'})
simple_rets.head()

## Rebasing and Correlation

In [ ]:
adj_close_parts = [] # list to collect individual DataFrames
for ticker in ['AAPL', 'AMZN', 'GOOGL', 'MSFT']:
    # usecols allows us to only read in the Date and Adj Close
    adj_close = pd.read_csv(ticker + '.csv', index_col='Date',
                            parse_dates=['Date'],
                            usecols=['Date', 'Adj Close'])
    # rename the column into the ticker symbol
    adj_close = adj_close.rename(columns={'Adj Close': ticker})
    # append the stock's DataFrame to the adj_close_parts list
    adj_close_parts.append(adj_close)

In [ ]:
# Combine the 4 DataFrames into a single DataFrame
adj_close = pd.concat(adj_close_parts, axis=1)
adj_close

In [ ]:
adj_close = adj_close.dropna()
adj_close.info()

In [ ]:
# Use a sample from June 2019 - May 2020
adj_close_sample = adj_close.loc['2019-06':'2020-05', :]
rebased_prices = adj_close_sample / adj_close_sample.iloc[0, :] * 100
rebased_prices.head(2)

In [ ]:
rebased_prices.plot()

In [ ]:
returns = np.log(adj_close / adj_close.shift(1))
returns.corr()

In [ ]:
import plotly.express as px
fig = px.imshow(returns.corr(),
                x=adj_close.columns,
                y=adj_close.columns,
                color_continuous_scale=list(
                    reversed(px.colors.sequential.RdBu)),
                zmin=-1, zmax=1)
fig.show()

## Resampling

In [ ]:
end_of_month = adj_close.resample('M').last()
end_of_month.head()

In [ ]:
end_of_month.resample('D').asfreq().head()  # no transformation

In [ ]:
end_of_month.resample('W-FRI').ffill().head()  # forward fill

## Rolling Windows

In [ ]:
# Plot the moving average for MSFT with data from 2019
msft19 = msft.loc['2019', ['Adj Close']].copy()
# Add the 25 day moving average as a new column to the DataFrame
msft19['25day average'] = msft19['Adj Close'].rolling(25).mean()
msft19.plot()